html{
    position: absolute;
}

#drawing {
    position: absolute;
    width: 530px;
    height: 650px;
    background: -webkit-linear-gradient(top, rgb(47, 153, 234),rgb(215, 237, 255));
}
/* 
#horizon {
    position: absolute;
    top: 400px;
    width: 530px;
    height: 3px;
    background-color: gray;
    z-index: 1;
} */
#road {
    position: absolute;
    top: 400px;
    width: 530px;
    height: 250px;
    background-color: rgb(193, 189, 180);
}
#pavement {
    position: absolute;
    top: 50px;
    width: 530px;
    height: 200px;
    background-color: rgb(69, 70, 75);
    clip-path: polygon(340px 15px, 100px 15px, 0 40px, 0 200px, 530px 200px, 530px 130px);
}
#circle {
    position: absolute;
    left: 180px;
    width: 400px;
    height: 40px;
    background-color: rgb(145, 139, 131);
    border-radius: 0% 10% 150% 200%;
}

#posts {
    position: absolute;
    top: 20px;
}

#posts i:nth-child(1) {
    position: absolute;
    left: 95px;
    height: 50px;
    width: 8px;
   background:-webkit-linear-gradient(left, rgb(118, 122, 128), rgb(100, 105, 111));
}
#posts i:nth-child(2) {
    position: absolute;
    left: 150px;
    height: 50px;
    width: 8px;
    background:-webkit-linear-gradient(left, rgb(118, 122, 128), rgb(100, 105, 111));
}
#posts i:nth-child(3) {
    position: absolute;
    left: 205px;
    height: 50px;
    width: 8px;
    background:-webkit-linear-gradient(left, rgb(118, 122, 128), rgb(100, 105, 111));
}
#posts i:nth-child(4) {
    position: absolute;
    left: 260px;
    height: 50px;
    width: 8px;
    background: -webkit-linear-gradient(left, rgb(138, 143, 150), rgb(100, 105, 111), rgb(46, 47, 49)) ;
}
#posts i:nth-child(5) {
    position: absolute;
    left: 315px;
    height: 50px;
    width: 8px;
    background: -webkit-linear-gradient(left, rgb(138, 143, 150), rgb(100, 105, 111), rgb(46, 47, 49)) ;
}

#building2 {
    position: absolute;
    height: 500px;
    width: 100px;
    background-color: rgb(166, 73, 42);
    clip-path: polygon(80px 0, 50px 450px, 0 460px, 0 0);
}
#building1 {
    position: absolute;
    left: 30px;
    top: 80px;
    height: 380px;
    width: 150px;
    background-color: rgb(195, 109, 69);
    clip-path: polygon(130px 160px, 120px 320px, 0 330px, 40px 0);
}
#building4 {
    position: absolute;
    left: 40px;
    height: 200px;
    width: 100px;
    background-color: #e7712d;
    clip-path: polygon(75px 25px, 65px 200px, 0 200px, 30px 0, 55px 0);
}

#building3 {
    position: absolute;
    top: 60px;
    left: 90px;
    height: 340px;
    width: 130px;
    background-color: rgb(209, 122, 82);
    clip-path: polygon(80px 5px, 80px 18px, 110px 20px, 115px 40px, 115px 80px, 130px 80px, 120px 350px, 0 350px, 0 0)
}
#building3 i:nth-child(1) {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(121, 149, 149);
}
#building3 i:nth-child(2) {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 30px;
    height: 260px;
    background-color: rgb(132, 168, 168);
}
#building3 i:nth-child(3) {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 20px;
    height: 260px;
    background-color: rgb(216, 175, 134);
}
#building3 i:nth-child(4) {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 10px;
    height: 260px;
    background-color: rgb(216, 175, 134);
}
#building3 i:nth-child(5) {
    position: absolute;
    top: 80px;
    left: 65px;
    width: 10px;
    height: 260px;
    background-color: rgb(216, 175, 134);
}
#building3 i:nth-child(6) {
    position: absolute;
    top: 80px;
    left: 90px;
    width: 10px;
    height: 260px;
    background-color: rgb(216, 175, 134);
}

#farBench {
    position: absolute;
}

#farBench i:nth-child(6) {
    position: absolute;
    top: 430px;
    left: 340px;
    width: 190px;
    height: 100px;
    background-color: rgb(165, 135, 108);
    clip-path: polygon(190px 0, 190px 15px, 85px 15px, 135px 30px, 70px 30px, 0px 0);
}
#farBench i:nth-child(5) {
    position: absolute;
    top: 460px;
    left: 410px;
    width: 65px;
    height: 5px;
    background-color: rgb(63, 49, 37);
}
#farBench i:nth-child(4) {
    position: absolute;
    top: 430px;
    left: 340px;
    width: 70px;
    height: 50px;
    background-color: rgb(125, 101, 81);
    clip-path: polygon(75px 32px, 70px 35px, 0 5px, 0 0);
}
#farBench i:nth-child(2) {
    position: absolute;
    top: 465px;
    left: 415px;
    width: 55px;
    height: 30px;
    background-color: rgb(31, 31, 31);
}
#farBench i:nth-child(3) {
    position: absolute;
    top: 437px;
    left: 345px;
    height: 70px;
    width: 95px;
    background-color: gray;
    clip-path: polygon(70px 27px, 70px 58px, 0 20px, 0px 0px);
}

#farBench i:nth-child(1) {
    position: absolute;
    top: 440px;
    left: 425px;
    width: 105px;
    height: 55px;
    background-color: black;
}

#frontBench {
    position: absolute;
}
#frontBench i:nth-child(1) {
    position: absolute;
    top: 475px;
    left: 445px;
    height: 90px;
    width: 85px;
    background-color: black;
    clip-path: polygon(85px 35px, 85px 85px, 0px 40px, 0 0);
}
#frontBench i:nth-child(2) {
    position: absolute;
    top: 445px;
    left: 480px;
    height: 80px;
    width: 50px;
    background-color: rgb(165, 135, 108);
    clip-path: polygon(50px 10px, 50px 40px, 0 25px, 5px 0);
}
#frontBench i:nth-child(3) {
    position: absolute;
    top: 475px;
    left: 440px;
    height: 80px;
    width: 90px;
    background-color: rgb(165, 135, 108);
    clip-path: polygon(90px 15px, 90px 35px, 0 0px, 40px 0);
}
#frontBench i:nth-child(4) {
    position: absolute;
    top: 470px;
    left: 440px;
    height: 90px;
    width: 90px;
    background-color: rgb(141, 115, 93);
    clip-path: polygon(90px 45px, 90px 40px, 0 5px, 0 10px);
}

#building5 {
    position: absolute;
    top: 150px;
    left: 300px;
    height: 250px;
    width: 200px;
    background-color: rgb(101, 135, 160);
    clip-path: polygon(0 50px, 50px 0, 150px 250px, 0 250px);
}
#building7 {
    position: absolute;
    top: 90px;
    left: 350px;
    height: 400px;
    width: 180px;
    background-color: rgb(189, 151, 113);
    clip-path: polygon(180px 0, 180px 400px, 60px 320px, 60px 100px, 110px 0);
}
#building7 i {
    position: absolute;
    top: 280px;
    left: 75px;
    height: 60px;
    width: 50px;
    background-color: rgb(120, 89, 58);
}
#building6 {
    position: absolute;
    top: 40px;
    left: 300px;
    height: 450px;
    width: 180px;
    background-color: rgb(226, 206, 186);
    clip-path: polygon(180px 0, 180px 380px, 60px 360px, 60px 130px, 110px 0);
}

#leftTree1 {
    position: absolute;
}

#leftTree1 i:nth-child(1) {
    position: absolute;
    top: 270px;
    left: 140px;
    height: 140px;
    width: 20px;
    background-color: rgb(60, 27, 13);
    clip-path: polygon(round 20px, 0 0, 10px 0, 15px 20px, 10px 35px, 15px 120px, 10px 140px, 0px 140px, 5px 100px);
}
#leftTree1 i:nth-child(2) {
    position: absolute;
    top: 250px;
    left: 150px;
    height: 100px;
    width: 100px;
    background-color: rgb(60, 27, 13);
    clip-path: polygon(round 20px, 0px 90px, 10px 90px, 50px 50px, 100px 20px, 50px 60px, 20px 100px, 0 100px);
}
#leftTree1 i:nth-child(3) {
    position: absolute;
    top: 195px;
    left: 140px;
    height: 100px;
    width: 130px;
    background-color: rgb(60, 27, 13);
    clip-path: polygon(round 20px, 0px 90px, 20px 65px, 130px 20px, 20px 75px, 0 100px);
}
#leftTree1 i:nth-child(4) {
    position: absolute;
    top: 210px;
    left: 90px;
    height: 125px;
    width: 170px;
    background-color: rgb(82, 126, 57);  
    clip-path: polygon(round 50px, 10px 20px, 20px 20px, 80px 0, 100px 20px, 170px 50px, 140px 80px, 160px 120px, 140px 125px, 0px 125px);
}
#leftTree1 i:nth-child(6) {
    position: absolute;
    top: 250px;
    left: 60px;
    height: 60px;
    width: 90px;
    background-color: rgb(87, 143, 50);
    border-radius: 20px 60px 40px 0px;
}
#leftTree1 i:nth-child(5) {
    position: absolute;
    top: 290px;
    left: 100px;
    height: 140px;
    width: 20px;
    background-color: rgb(60, 27, 13);
    clip-path: polygon(round 20px, 0 0, 10px 0, 15px 20px, 10px 35px, 15px 120px, 10px 140px, 0px 140px, 5px 100px);
}
#leftTree1 i:nth-child(7) {
    position: absolute;
    top: 290px;
    left: 120px;
    height: 40px;
    width: 100px;
    background-color: rgb(68, 103, 46);
    border-radius: 100% 300% 90% 50%;
}
#leftTree1 i:nth-child(8) {
    position: absolute;
    top: 315px;
    left: 95px;
    height: 20px;
    width: 10px;
    background-color: rgb(79, 150, 35);
    border-radius: 100%;
    rotate: -20deg;
}
#leftTree1 i:nth-child(9) {
    position: absolute;
    top: 340px;
    left: 220px;
    height: 10px;
    width: 6px;
    background-color: rgb(111, 178, 69);
    border-radius: 100%;
    rotate: 50deg;
}
#leftTree1 i:nth-child(10) {
    position: absolute;
    top: 335px;
    left: 235px;
    height: 10px;
    width: 10px;
    background-color: rgb(62, 86, 48);
    border-radius: 100%;
    rotate: -20deg;
}
#leftTree1 i:nth-child(11) {
    position: absolute;
    top: 310px;
    left: 80px;
    height: 15px;
    width: 10px;
    background-color: rgb(111, 178, 69);
    border-radius: 100%;
    rotate: 20deg;
}

#building2 i:nth-child(1) {
    position: absolute;
    top: 160px;
    height: 400px;
    width: 100px;
    background-color: rgb(190, 181, 174);
    clip-path: polygon(0 0, 100px 80px, 100px 400px, 0 400px);
}

#building2 i:nth-child(2) {
    position: absolute;
    top: 180px;
    height: 400px;
    width: 100px;
    background-color: rgb(97, 90, 85);
    clip-path: polygon(5px 40px, 45px 65px, 20px 400px, 0 400px, 0 90px);
}

#building2 i:nth-child(3) {
    position: absolute;
    top: 200px;
    left: -2px;
    height: 400px;
    width: 100px;
    background-color: rgb(145, 137, 132);
    clip-path: polygon(5px 40px, 20px 50px, -10px 400px, 0 400px, 0 90px);
}

#building2 i:nth-child(4) {
    position: absolute;
    top: 430px;
    left: 25px;
    height: 40px;
    width: 35px;
    background-color: rgb(97, 91, 86);
    clip-path: polygon(4px 5px, 35px 0px, 30px 40px, 0 40px);
}
#building2 i:nth-child(5) {
    position: absolute;
    top: 210px;
    height: 80px;
    width: 70px;
    background-color: rgb(41, 38, 36);
    clip-path: polygon(80px 55px, 80px 57px, 0 8px, 0 5px);
}
#building2 i:nth-child(6) {
    position: absolute;
    top: 190px;
    height: 80px;
    width: 70px;
    background-color: rgb(111, 105, 102);
    clip-path: polygon(80px 63px, 80px 65px, 0 7px, 0 5px);
}
#building2 i:nth-child(7) {
    position: absolute;
    top: 185px;
    height: 80px;
    width: 70px;
    background-color: rgb(111, 105, 102);
    clip-path: polygon(80px 63px, 80px 65px, 0 7px, 0 5px);
}
#building2 i:nth-child(8) {
    position: absolute;
    top: 245px;
    height: 250px;
    width: 45px;
    background-color: rgb(122, 120, 118);
    clip-path: polygon(45px 0, 26px 250px, -2px 250px, 18px 5px)
}

#building2 i:nth-child(9) {
    position: absolute;
    top: 110px;
    left: 10px;
    width: 50px;
    height: 75px;
    background-color: rgb(126, 82, 82);
    clip-path: polygon(10px 5px, 40px 35px, 40px 65px, 10px 35px);
}
#building2 i:nth-child(10){
    position: absolute;
    top: 105px;
    left: 20px;
    width: 50px;
    height: 50px;
    clip-path: polygon(5px 5px, 35px 35px, 30px 40px, 0 10px);
    background: -webkit-linear-gradient(bottom, rgb(126, 82, 82), rgb(33, 25, 25)) ;
}
#building2 i:nth-child(11) {
    position: absolute;
    top: 105px;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: rgb(126, 82, 82);
    clip-path: polygon(round 1px, 0 0, 8px 8px, 0 10px);
}

#building2 i:nth-child(12) {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 40px;
    height: 100px;
    background-color: rgb(190, 255, 255);
    clip-path: polygon(2px 0, 32px 35px, 30px 95px, 0 65px);
}
/* #building2 i:nth-child(13) {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(105, 84, 74);
    clip-path: polygon();
} */

#building1 i:nth-child(1) {
    position: absolute;
    top: 20px;
    height: 170px;
    width: 150px;
    background-color: blanchedalmond;
    clip-path: polygon(130px 150px, 130px 160px, 0 -30px, 40px 0px);
}

#building1 i:nth-child(2) {
    position: absolute;
    top: 100px;
    height: 170px;
    width: 150px;
    background-color: blanchedalmond;
    clip-path: polygon(130px 120px, 130px 130px, 0 -30px, 40px 0px);
}

#building1 i:nth-child(3) {
    position: absolute;
    top: 220px;
    height: 110px;
    width: 150px;
    background-color: rgb(197, 186, 171);
    clip-path: polygon(0 0, 150px 50px, 150px 100px, 0 150px);
}
#building1 i:nth-child(4) {
    position: absolute;
    top: 260px;
    left: 40px;
    width: 25px;
    height: 70px;
    background-color: rgb(123, 165, 168);
    clip-path: polygon(0 0, 50px 20px, 50px 70px, 0 70px);
}
#building1 i:nth-child(5) {
    position: absolute;
    top: 275px;
    left: 85px;
    width: 20px;
    height: 70px;
    background-color: rgb(123, 165, 168);
    clip-path: polygon(0 0, 50px 20px, 50px 70px, 0 70px);
}

#tree i:nth-child(2){
    position: absolute;
    top: 20px;
    left: 430px;
    height: 490px;
    width: 50px;
    /* background-color: #3f352b; */
    background: -webkit-linear-gradient(left, rgb(104, 87, 77), #1f1b1a);
    clip-path: polygon(round 35px, 0 490px, 10px 450px, 15px 400px, 18px 300px, 5px 230px, 10px 100px, 0 0, 10px 0, 20px 90px, 20px 200px, 25px 250px, 35px 290px, 50px 490px);
    rotate: -5deg;
}
#tree i:nth-child(3) {
    position: absolute;
    top: 390px;
    left: 450px;
    height: 30px;
    width: 20px;
    background: -webkit-linear-gradient(left, rgb(104, 87, 77), #1f1b1a);
    border-radius: 20px;
}
#tree i:nth-child(4) {
    position: absolute;
    top: 200px;
    left: 440px;
    height: 12px;
    width: 10px;
    background: -webkit-linear-gradient(left, rgb(104, 87, 77), #1f1b1a);
    border-radius: 20px;
}

#tree i:nth-child(5) {
    position: absolute;
    top: 15px;
    left: 435px;
    width: 50px;
    background: -webkit-linear-gradient(left, rgb(104, 87, 77), #1f1b1a);
    height: 220px;
    clip-path: polygon(round 5px, 0 220px, 2px 170px, 10px 140px, 20px 90px, 30px 0, 35px 10px, 30px 100px, 20px 150px, 20px 170px, 15px 185px, 20px 205px);
    rotate: -50deg;
}
#treeLeaves i:nth-child(1) {
    position: absolute;
    left: 260px;
    width: 200px;
    height: 100px;
    background-color: rgb(38, 57, 38);
    clip-path: polygon(round 20px, 10px 0, 0 90px, 100px 100px, 200px 50px, 150px 0);
}
#treeLeaves i:nth-child(2) {
    position: absolute;
    top: 100px;
    left: 260px;
    width: 200px;
    height: 100px;
    background-color: rgb(38, 57, 38);
    clip-path: polygon(round 20px, 10px 0, 0 90px, 100px 100px, 200px 50px, 150px 0);
}
#treeLeaves i:nth-child(3) {
    position: absolute;
    top: 50px;
    left: 385px;
    width: 170px;
    height: 100px;
    background-color: rgb(38, 57, 38);
    clip-path: polygon(round 20px, 50px 0, 0 50px, 80px 100px, 150px 80px, 150px 20px);
}
#treeLeaves i:nth-child(4) {
    position: absolute;
    top: 170px;
    left: 260px;
    width: 300px;
    height: 100px;
    background-color: rgb(38, 57, 38);
    clip-path: polygon(round 20px, 20px 0, 0 90px, 100px 100px, 280px 80px, 250px 50px, 240px 0, 100px 20px);
    rotate: -20deg;
}
#treeLeaves i:nth-child(5) {
    position: absolute;
    top: 240px;
    left: 455px;
    width: 70px;
    height: 50px;
    background-color: rgb(38, 57, 38);
    border-radius: 50px;
    rotate: 10deg;
}
#treeLeaves i:nth-child(6) {
    position: absolute;
    top: 310px;
    left: 300px;
    width: 20px;
    height: 15px;
    background-color: rgb(38, 57, 38);
    border-radius: 50px 10px;
    rotate: -30deg;
}
#treeLeaves i:nth-child(7) {
    position: absolute;
    top: 210px;
    left: 250px;
    width: 20px;
    height: 15px;
    background-color: rgb(38, 57, 38);
    border-radius: 50px 10px;
    rotate: -90deg;
}
#treeLeaves i:nth-child(8) {
    position: absolute;
    top: 200px;
    left: 270px;
    width: 10px;
    height: 15px;
    background-color: rgb(38, 57, 38);
    border-radius: 50px 10px;
    rotate: -90deg;
}
#treeLeaves i:nth-child(9) {
    position: absolute;
    top: 100px;
    left: 250px;
    width: 10px;
    height: 10px;
    background-color: rgb(38, 57, 38);
    border-radius: 50px 50px;
}
#treeLeaves i:nth-child(10) {
    position: absolute;
    top: 80px;
    left: 250px;
    width: 10px;
    height: 15px;
    background-color: rgb(38, 57, 38);
    border-radius: 50px 10px;
    rotate: 40deg;
}


#tree1 {
    position: absolute;
    top: 330px;
    left: 240px;
    width: 120px;
    height: 80px;
    background-color: rgb(122, 165, 53);
    border-radius: 100% 100% 150% 80%;
}
#tree2 {
    position: absolute;
    top: 300px;
    left: 350px;
    width: 100px;
    height: 80px;
    background-color: rgb(105, 138, 52);
    border-radius: 100% 100% 150% 80%;
}
#tree2 i:nth-child(1) {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 10px;
    height: 18px;
    background-color: rgb(93, 125, 42);
    border-radius: 200% 100% 150% 80%;
    rotate: 0deg;
}
#tree2 i:nth-child(2) {
    position: absolute;
    top: 55px;
    left: -10px;
    width: 15px;
    height: 18px;
    background-color: rgb(81, 104, 43);
    border-radius: 200% 100% 150% 80%;
    rotate: 70deg;
}
#tree2 i:nth-child(3) {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 8px;
    height: 8px;
    background-color: rgb(93, 125, 42);
    border-radius: 200% 100% 150% 80%;
    rotate: -40deg;
}
#tree2 i:nth-child(4) {
    position: absolute;
    top: 10px;
    left: -7px;
    width: 8px;
    height: 8px;
    background-color: rgb(67, 88, 34);
    border-radius: 200% 100% 150% 80%;
    rotate: -40deg;
}
#tree3 {
    position: absolute;
    top: 280px;
    left: 420px;
    width: 110px;
    height: 80px;
    background-color: rgb(122, 165, 53);
    border-radius: 200% 100% 150% 80%;
    rotate: 10deg;
}
#tree3 i:nth-child(1) {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 10px;
    height: 8px;
    background-color: rgb(139, 180, 74);
    border-radius: 200% 100% 150% 80%;
    rotate: 10deg;
}
#tree3 i:nth-child(2) {
    position: absolute;
    top: 50px;
    left: -10px;
    width: 10px;
    height: 8px;
    background-color: rgb(139, 180, 74);
    border-radius: 200% 100% 150% 80%;
    rotate: 80deg;
}
#tree3 i:nth-child(3) {
    position: absolute;
    top: 80px;
    left: -10px;
    width: 10px;
    height: 8px;
    background-color: rgb(139, 180, 74);
    border-radius: 200% 100% 150% 80%;
    rotate: 50deg;
}
#tree3 i:nth-child(4) {
    position: absolute;
    top: 75px;
    left: 80px;
    width: 10px;
    height: 8px;
    background-color: rgb(116, 152, 58);
    border-radius: 200% 100% 150% 80%;
}
#tree3 i:nth-child(5) {
    position: absolute;
    top: 75px;
    left: 95px;
    width: 10px;
    height: 8px;
    background-color: rgb(116, 152, 58);
    border-radius: 200% 100% 150% 80%;
    rotate: 70deg;
}
#lightPost1 {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 10px;
    height: 140px;
    background-color: #1f1b1a;
}
#lightPost1 i:nth-child(1) {
    position: absolute;
    top: -8px;
    left: 1.15px;
    width: 8px;
    height: 8px;
    background-color: #1f1b1a;
    border-radius: 100%;;
}
#lightPost1 i:nth-child(2) {
    position: absolute;
    top: 10px;
    left: -1px;
    width: 12px;
    height: 20px;
    background: -webkit-linear-gradient(left, whitesmoke, gray);
}

#lightPost2 {
    position: absolute;
    top: 350px;
    left: 315px;
    width: 5px;
    height: 70px;
    background-color: #1f1b1a;
}
#lightPost2 i:nth-child(1) {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 5px;
    height: 5px;
    background-color: #1f1b1a;
    border-radius: 100%;;
}
#lightPost2 i:nth-child(2) {
    position: absolute;
    top: 5px;
    left: -1px;
    width: 7px;
    height: 10px;
    background: -webkit-linear-gradient(left, whitesmoke, gray);
}